@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
  font-family: "Gelano Grotesque";
  src: url(/public/GalanoGrotesqueDEMO-Bold.ttf);
}

body {
  font-family: Inter, sans-serif;
  background-color: white;
}
